<%= form_for :ogloszenie do |f| %>
<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="cover-heading"><%= t('form.add_adv.add_label') %></h1>
			<p><%= t('form.edit_adv.title') %>:</p><%= f.text_field :tytul, size: 50 %>
			<p><%= t('category') %>:</p><%= f.select(:kategoria, options_for_select([t('categories.online'), t('categories.stationary')]), :prompt => t('category_placeholder')) %>
			<p><%= t('form.view.desc') %>:</p><%= f.text_area :opis, cols:35, rows: 5 %>
			<p><%= t('form.view.phone') %>:</p><%= f.phone_field :telefon %>
			<p><%= t('form.edit_adv.photo') %>:</p><%= f.file_field :zdjecie, accept: 'image/png,image/gif,image/jpeg' %><%= f.hidden_field :uzytkownik_id, value: @uzytkownik_id %>
			<p><a href="/index" class="btn btn-secondary my-2">t('form.add_adv.back')</a><input name="commit" value="t('form.add_adv.save')" type="submit" class="btn btn-primary my-2"></p>
		</div>
		<div class="col-sm-5">
			<h4 class="cover-heading"><%= t('date.select_avail') %>:</h4>
			<div class="container availability">
			<div class="row">
				<div class="col">
					<%= f.check_box :pon, {}, true, false %> <%= t('date.mondays') %>
				</div>
				<div class="col-6">
					<%= f.hidden_field :pon_time, value: nil %>
					<%= render :partial => "data_selector", locals: {type: 'pon'} %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.check_box :wt, {}, true, false %> <%= t('date.tuesdays') %>
				</div>
				<div class="col-6">
					<%= f.hidden_field :wt_time, value: nil %>
					<%= render :partial => "data_selector", locals: {type: 'wt'} %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.check_box :sr, {}, true, false %> <%= t('date.wednesdays') %>
				</div>
				<div class="col-6">
					<%= f.hidden_field :sr_time, value: nil %>
					<%= render :partial => "data_selector", locals: {type: 'sr'} %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.check_box :czw, {}, true, false %> <%= t('date.thursdays') %>
				</div>
				<div class="col-6">
					<%= f.hidden_field :czw_time, value: nil %>
					<%= render :partial => "data_selector", locals: {type: 'czw'} %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.check_box :pt, {}, true, false %> <%= t('date.fridays') %>
				</div>
				<div class="col-6">
					<%= f.hidden_field :pt_time, value: nil %>
					<%= render :partial => "data_selector", locals: {type: 'pt'} %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.check_box :sob, {}, true, false %> <%= t('date.saturdays') %>
				</div>
				<div class="col-6">
					<%= f.hidden_field :sob_time, value: nil %>
					<%= render :partial => "data_selector", locals: {type: 'sob'} %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.check_box :nie, {}, true, false %> <%= t('date.sundays') %>
				</div>
				<div class="col-6">
					<%= f.hidden_field :nie_time, value: nil %>
					<%= render :partial => "data_selector", locals: {type: 'nie'} %>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<%= javascript_include_tag('dates.js') %>
