<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Przysłano ci nową wiadomość!</h1>
    <p>Użytkownik o e-mailu <%= @msg[:viewer_email] %> pisze:</p>
    <p><%= @msg[:message] %></p>
    <p>Wybrane dni dostępności: <%= @msg[:days] %></p>
    <p>Wybrane godziny dostępności: <%= @msg[:hours] %></p>
    <p>
      Link do ogłoszenia: <a href="<%= @msg[:url] %>"><%= @msg[:url] %></a>.
    </p>
    <a href="www.korkizmuzy.pl">www.korkizmuzy.pl</a>
  </body>
</html>
