<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>t('email.message_received')</h1>
    <p>t('email.user_with_email') <%= @msg[:viewer_email] %> t('email.write'):</p>
    <p><%= @msg[:message] %></p>
    <p>t('email.days_avail'): <%= @msg[:days] %></p>
    <p>t('email.hours_avail'): <%= @msg[:hours] %></p>
    <p>
      t('email.add_link'): <a href="<%= @msg[:url] %>"><%= @msg[:url] %></a>.
    </p>
    <a href="http://www.korkizmuzy.pl">t('www')</a>
  </body>
</html>
