<%= form_for :uzytkownik, html: { :enctype => 'multipart/form-data' } do |f| %>
<div class="container">
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<%= image_tag("music_logo.png", :width => "100", :alt => "Logo KorkiZMuzy") %>
		</div>
	</div>
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<h1 class="display-4"><%= t('form.register.title') %></h1>
		</div>
	</div>
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<p><%= t('form.register.name') %>:</p><%= f.text_field :ksywka, required: true, size: 15 %>
			<p><%= t('form.register.surname') %>:</p><%= f.text_field :nazwisko, required: true, size: 35 %>
			<p><%= t('form.register.email') %>:</p><%= f.email_field :email, required: true, size: 35 %>
			<p><%= t('form.register.passwd') %>:</p><%= f.password_field :haslo, required: true, size: 35 %>
			<p><%= t('form.register.passwd_repeat') %>:</p><%= f.password_field :haslo_tmp, size: 35 %>
			<p><%= t('form.register.photo') %>:</p><%= f.file_field :zdjecie, accept: 'image/png,image/gif,image/jpeg' %>
		</div>
	</div>
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<p><a href="/index" class="btn btn-secondary my-2"><%= t('form.register.back') %></a> <input name="commit" value="<%= t('form.register.register') %>" type="submit" class="btn btn-primary my-2"></p>
		</div>
	</div>
</div>
<% end %>
