<%= form_for :uzytkownik do |f| %>
<div class="container">
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<h1 class="display-4">Aktualizacja profilu</h1>
		</div>
	</div>
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<p>Imie/Ksywka:</p><%= f.text_field :imie, size: 15 %>
			<p>Nazwisko:</p><%= f.text_field :nazwisko, size: 35 %>
			<p>E-mail:</p><%= f.email_field :email, size: 35 %>
			<p>Hasło:</p><%= f.password_field :haslo, size: 35 %>
			<p>Powtórz hasło:</p><%= f.password_field :haslo_tmp, size: 35 %>
			<p>Zdjęcie:</p><img src="/img_profile/<%= @uzytkownik.id %>" width="115"><br>
      <%= f.file_field :zdjecie, :message => "Wybierz plik.", accept: 'image/png,image/gif,image/jpeg' %>
		</div>
	</div>
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<p><a href="/index" class="btn btn-secondary my-2">Powrót</a> <input name="commit" value="Zaktualizuj się" type="submit" class="btn btn-primary my-2"></p>
		</div>
	</div>
</div>
<% end %>
