<div class="container">
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<h1 class="cover-heading"><%= t('contact') %></h1>
			<p class="lead"><%= t('contact.school_text') %></p>
			<p class="lead"><%= t('contact.school_addr_1') %></p>
			<p class="lead"><%= t('contact.school_addr_2') %></p>
			<p class="lead">
				<a href="http://www.somapro.pl" target="_blank" class="btn btn-lg btn-secondary"><%= t('contact.learn_more') %></a>
			</p>
		</div>
	</div>
</div>
