<div class="container">
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<%= image_tag("music_logo.png", :width => "100", :alt => "Logo KorkiZMuzy") %>
		</div>
	</div>
  	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<h1 class="h3 mb-3 font-weight-normal"><%= t('form.login.title') %></h1>
		</div>
	</div>
	<%= form_for :uzytkownik do |f| %>
	<div class="row justify-content-md-center">
  		<div class="col-md-auto">
			<label for="email"><%= t('form.login.email') %>:</label><br>
			<%= f.email_field :email, size: 35 %><br>
			<label for="haslo"><%= t('form.login.passwd') %>:</label><br>
			<%= f.password_field :haslo, size: 35 %><br>
			<%= f.check_box :remember, {}, "true", "false" %>
      <label for="remember"><%= t('form.login.remember') %></label>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<input name="commit" value="<%= t('form.login.login') %>" type="submit" class="btn btn-primary my-2">
		</div>
	</div>
	<% end %>
</div>
