<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  	<title><%= t('page_title') %></title>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
    <header>
      <div class="collapse bg-korki-open" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white"><%= t('about_school') %></h4>
              <p class="text-white"><%= t('intro_text_1') %></p>
							<p class="text-white"><%= t('intro_text_2') %></p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white"><%= t('contact') %></h4>
              <ul class="list-unstyled">
              	<% if @user_name.present? %>
                <li><a href="/add" class="text-white"><%= t('menu.add') %></a></li>
                <li><a href="/list" class="text-white"><%= t('menu.list') %></a></li>
          		<% end %>
                <li><a href="/contact" class="text-white"><%= t('menu.contact') %></a></li>
                <% if @user_name.nil? %>
	              <li><a href="/register" class="text-white"><%= t('menu.register') %></a></li>
                <li><a href="/login" class="text-white"><%= t('menu.login') %></a></li>
                <% else %>
                <li><a href="/profil" class="text-white"><%= t('menu.edit') %></a></li>
                <li><a href="/logout" class="text-white"><%= t('menu.logout') %></a></li>
          		<% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-korki-collapsed shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/index" class="navbar-brand d-flex align-items-center">
            <%= image_tag("music_logo.png", :width => "60", :alt => "Logo KorkiZMuzy") %>&nbsp;&nbsp;
            <strong><%= t('page_header') %></strong>
          </a>
          <% unless @user_name.nil? %>
          <h6 class="text-white">
          	<%= image_tag("user_icon.png", :width => "30", :alt => "User") %>&nbsp;&nbsp; <%= t('welcome') %> <%= @user_name %>
          </h6>
		  <% else %>
		  <h6 class="text-white"><%= t('welcome') %></h6>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

	<main role="main">
		<% flash.each do |name, msg| %>
    		<%= content_tag :div, msg, class: "alert alert-info" %>
  		<% end %>
		<% unless @errors.nil? %>
			<div class="alert alert-danger" role="alert">
				<ul>
				<% @errors.each_with_index do |error, index| %>
					<li><%= error['message'] %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		<%= yield %>
	</main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#"><%= t('up') %></a>
        </p>
        <p><%= Time.new.year %> <%= t('page_title') %> - <%= t('footer_1') %></p>
        <p><%= t('footer_2_html') %></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
