<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  	<title>KorkiZMuzy.pl</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">O szkole</h4>
              <p class="text-muted">Szkoła skrzypiec i grania na nerwach:</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Kontakt</h4>
              <ul class="list-unstyled">
                <li><a href="/register" class="text-white">Rejestracja</a></li>
                <li><a href="/contact" class="text-white">Kontakt</a></li>
                <% if @user_name.nil? %>
                <li><a href="/login" class="text-white">Logowanie</a></li>
                <% else %>
                <li><a href="/logout" class="text-white">Wyloguj</a></li>
          		<% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/index" class="navbar-brand d-flex align-items-center">
            <%= image_tag("music_logo.png", :width => "60", :alt => "Logo KorkiZMuzy") %>&nbsp;&nbsp;
            <strong>Korki z Muzy</strong>
          </a>
          <% unless @user_name.nil? %>
          <h6 class="text-white">
          	<%= image_tag("user_icon.png", :width => "30", :alt => "User") %>&nbsp;&nbsp;<%= @user_name %>
          </h6>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

	<main role="main">
		<% unless @errors.nil? %>
			<div class="alert alert-danger" role="alert">
				<ul>
				<% @errors.each_with_index do |error, index| %>
					<li><%= error['message'] %></div>
				<% end %>
				</ul>
			</div>
		<% end %>
		<%= yield %>
	</main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Powrót</a>
        </p>
        <p><%= Time.new.year %> KorkiZMuzy.pl - Stworzone dla Szkoły Muzycznej Weroniki w Mikołowie, ul. Górnicza 10</p>
        <p>przez firmę Somapro: <a href="http://www.somapro.pl">www.somapro.pl</a>, tel: 660 229 130.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <!--<script src="../../assets/javascripts/imsky-holder-8220898/holder.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
